body{
    background-color: black;
    color: white;
}

header{
    background-color: black;
    color: white;
}

main{
    background-color: black;
    color: white;
}

article{
    background-color: black;
    color: white
}

img{
    background-color: black;
    color: white;    
}

